/* Large Tablet Devices */

@media only screen
and (max-width : 1400px) {
  /*Header Area*/

  /*Nav Area*/

  /*Banner Area*/

  /*Middle Area*/

  /*Main Area*/

  /*Bottom Area*/

  /*Footer Area*/
}

@media only screen
and (max-width : 1300px) {
  /*Header Area*/

  /*Nav Area*/

  /*Banner Area*/

  /*Middle Area*/

  /*Main Area*/

  /*Bottom Area*/

  /*Footer Area*/

}
@media only screen
and (max-width : 1200px) {
  /*Header Area*/

  /*Nav Area*/

  /*Banner Area*/

  /*Middle Area*/

  /*Main Area*/

  /*Bottom Area*/

  /*Footer Area*/

}
@media only screen
and (max-width : 1090px) {
  html, body{
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Webkit */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE 10  */
  }
  /*Header Area*/

  /*Nav Area*/

  /*Banner Area*/

  /*Middle Area*/

  /*Main Area*/

  /*Bottom Area*/

  /*Footer Area*/

}

@media only screen
and (max-width : 1024px) {
  /*Header Area*/

  /*Nav Area*/

  /*Banner Area*/

  /*Middle Area*/

  /*Main Area*/

  /*Bottom Area*/

  /*Footer Area*/
}

@media only screen
and (max-width : 1000px) {
 
  /*Header Area*/

  .main_logo { max-width: 200px; position: relative; }
  /*Nav Area*/

  /*Banner Area*/

  .bnr_con { display: block; }

  .bnr_info_con { max-width: 100%; text-align: center; }

  .bnr_info a { margin: 20px auto; }

  .social_links { margin: 20px auto; }
  .social_links ul { justify-content: center; }

  .bnr_profile { max-width: 100%; }

  /*Middle Area*/

  /*Main Area*/

  /*Bottom Area*/


  .project_boxes {   grid-template-columns: repeat(2, 1fr); }



  
  .tabs { flex-direction: column; }
.tabs-nav { flex-direction: row; width: 100%; flex-wrap: wrap; }
.tabs-btn { max-width: 400px; }

.skill-content { width: 100%;}

  /*Footer Area*/

  .footer_top_con { flex-direction: column; }
.footer_info { max-width: fit-content; width: 100%; margin: 20px auto 0; text-align: center; }
.footer_info ul { text-align: left; max-width: fit-content; margin: 0 auto; }

.footer_art { max-width: 330px; width: 100%; }



}

@media only screen
and (max-width : 800px) {
  /*Header Area*/

  
.main_logo h3 { position: static; }

  /*Nav Area*/

  #nav_area { padding:25px 15px; background:var(--priColor); position:relative }
  .nav_toggle_button { display:block; position:relative } 
  .page_nav { width:280px; position:fixed; top:0; right:-280px; height:100%; background: #fff; transition:all .7s ease; overflow-y:scroll; padding:0 0 30px; opacity:0; float:none; clear:both; z-index:250 } 
  .page_nav ul { margin:0; padding:25px 15px ; position: static; display: block;} 
  .page_nav ul li { width:100%; display:block; margin:0 auto 5px!important ; text-align: center;} 
  .page_nav ul ul { width:100%; position:relative; transition:none } 
  .page_nav ul ul li { width:100% } 
  .toggle_right_nav { position:fixed; top:0; left:0; right:0; width:100%; height:100%; z-index:1000; visibility:hidden; transition:all .7s ease } 
  .toggle_nav_close { position:absolute; top:0; left:0; width:100%; height:100%; z-index:2 } 
  .toggle_right_cont { visibility:visible; background:rgba(0,0,0,.9) } nav.toggle_right_style { right:0; opacity:1; z-index:45 } 
  .logo_slide_right { display:block; float:left; width:calc(100% - 90px) } 
  .menu_slide_right { display:block; text-align:left; padding:40px 10px; background:#fff; position:relative }

  /*Banner Area*/

  .bnr_con  { padding-top: 100px; }


  .bnr_profile img { border-radius: 50vw; }


  /*Middle Area*/

  /*Main Area*/

  /*Bottom Area*/

  .btm1_info { margin-bottom: 90px; }
  
  .project_boxes {   grid-template-columns: repeat(1, 1fr); }

  .tabs-btn { max-width: 100%; } 

  .skill-info { padding: 0; }

  .achievements_info ul { flex-direction: column; }


  /*Footer Area*/

}

/* Smartphones */
@media only screen
and (max-width : 600px) {
  /*Header Area*/

  /*Nav Area*/

  /*Banner Area*/

  .bnr_info h1 { font-size: 2.3rem; }


  /*Middle Area*/

  .mid_info h2 { font-size: 2.3rem; }

  /*Main Area*/

  /*Bottom Area*/

  .contact-section { max-width: 100%; }
.contact-section { margin: 0; }
.contact-section h2 { font-size: 2.1rem; }

  /*Footer Area*/

}

@media only screen
and (max-width : 500px) {

  /*Header Area*/

  /*Nav Area*/

  /*Banner Area*/

  /*Middle Area*/

  /*Main Area*/

  /*Bottom Area*/

  /*Footer Area*/

}
